.works-filters {
  margin-bottom: 50px;

  display: flex;
  justify-content: center;
}

.works-filters__item:not(:last-child) {
  margin-right: 8px;
}

.works-filters__button {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 22px;
  padding-left: 22px;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: var(--title-text-color);

  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--secondary-bg-color);

  transition: background-color var(--duration) var(--timing-function),
    color var(--duration) var(--timing-function),
    box-shadow var(--duration) var(--timing-function);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--secondary-text-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
