// .hero {
//   display: none;
// }

// .section--features {
//   display: none;
// }

// .section--team {
//   display: none;
// }

// .section--clients {
//   display: none;
// }

.page-footer {
  display: none;
}

.container {
  outline: 2px solid tomato;
}
