:root {
  --main-text-color: #757575;
  --title-text-color: #212121;
  --secondary-text-color: #ffffff;
  --black-text-color: #000000;
  --main-bg-color: #ffffff;
  --address-color-link: rgba(255, 255, 255, 0.6);
  --secondary-bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;
  --hero-bg-color: #c4c4c4;
  --hero-overlay-color: rgba(47, 48, 58, 0.4);
  --activities-overlay-color: rgb(18%, 19%, 23%, 0.8);
  --works-overlay-color: rgba(33, 150, 243, 0.9);
  --accent-color: #2196f3;
  --border-color: #ececec;
  --border-color-works: #eeeeee;
  --team-svg-color: #afb1b8;
  --footer-social-trnsp-white: rgba(255, 255, 255, 0.1);
  --backdrop-color: rgba(0, 0, 0, 0.2);
  --form-color: rgb(13%, 13%, 13%, 0.2);
  --placeholder-color: rgba(117, 117, 117, 0.5);
  --form-btn-bg-color: #188ce8;
  --border-subscribe: rgba(255, 255, 255, 0.3);

  --duration: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
