.features-list__cover {
  margin-bottom: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;

  border-radius: 4px;
  background-color: var(--secondary-bg-color);
}

.features-list__subtitle {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.features-list__text {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 768px) {
  .features-list {
    margin-top: -30px;
    margin-left: -30px;

    display: flex;
    flex-wrap: wrap;
  }

  .features-list__item {
    margin-top: 30px;
    margin-left: 30px;

    flex-basis: calc(100% / 2 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .features-list__item {
    flex-basis: calc(100% / 4 - 30px);
  }
}
