.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(100%);

  width: 100vw;
  height: 100vh;
  padding-top: 48px;
  padding-bottom: 48px;

  background-color: var(--main-bg-color);

  transition: transform var(--duration) var(--timing-function);

  @media screen and (max-width: 479px) {
    padding-left: 5%;
    padding-right: 5%;
  }

  @media screen and (min-width: 480px) {
    padding-left: calc((100% - 480px) / 2 + 40px);
    padding-right: calc((100% - 480px) / 2 + 40px);
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mobile-menu.is-open {
  transform: translateX(0);
  transition: transform var(--duration) var(--timing-function);
}

.mobile-menu__button {
  position: absolute;
  top: 11px;
  right: 5%;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: transparent;
  border: none;

  @media screen and (min-width: 480px) {
    right: calc((100% - 480px) / 2 + 15px);
  }

  &:hover {
    cursor: pointer;
  }

  &:hover .mobile-menu__icon,
  &:focus .mobile-menu__icon {
    fill: var(--accent-color);
  }
}

.mobile-menu__icon {
  transition: fill var(--duration) var(--timing-function);
}

.mobile-nav {
  margin-bottom: 302px;

  @media screen and (max-width: 329px) {
    margin-bottom: 260px;
  }

  // @media screen and (max-height: 640px) {
  //   margin-bottom: 50px;
  // }
}

.mobile-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-nav__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;

  color: var(--title-text-color);

  transition: color var(--duration) var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.mobile-nav__link--current {
  color: var(--accent-color);
}

.mobile-contacts {
  margin-bottom: 64px;

  // @media screen and (max-height: 640px) {
  //   margin-bottom: 30px;
  // }
}

.mobile-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-contacts__link--tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.176;
  letter-spacing: 0.02em;

  color: var(--accent-color);
}

.mobile-contacts__link--email {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.02em;

  color: var(--main-text-color);

  transition: color var(--duration) var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.mobile-social {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  @media screen and (min-width: 365px) and (max-width: 409px) {
    justify-content: space-between;
  }
}

.mobile-social__item {
  margin-top: 10px;
}

.mobile-social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.122;
  letter-spacing: 0.02em;

  color: var(--accent-color);
  display: flex;
  align-items: center;
}

@media screen and (min-width: 410px) {
  .mobile-social__item:not(:last-child) .mobile-social__link::after {
    content: '';
    display: inline-flex;
    width: 1px;
    height: 22px;
    background-color: var(--mobile-menu-decore);
    margin-left: 10px;
  }
}

.mobile-social__item:not(:last-child) {
  margin-right: 10px;
}
