.team-list {
  @media screen and (min-width: 768px) {
    margin-top: -30px;
    margin-left: -30px;

    display: flex;
    flex-wrap: wrap;
  }
}

.team-list__item {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: var(--main-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    margin-top: 30px;
    margin-left: 30px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-basis: calc(100% / 2 - 30px);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 4 - 30px);
  }
}

.team-list__content {
  padding: 30px 0 24px;
  text-align: center;
}

.team-list__name {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.team-list__position {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
}

.team-list__thumb {
  max-height: 460px;

  @media screen and (min-width: 768px) {
    height: 374px;
  }

  @media screen and (min-width: 1200px) {
    height: 260px;
  }
}

.team-list__photo {
  display: block;
  width: 100%;
  height: auto;
}
