.page-header__container {
  // position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-header__logo {
  padding: 16px 0;
}

@media screen and (max-width: 767px) {
  .page-header__menu-wrap {
    display: none;
  }
}

.menu-btn {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  // &__close {
  //   display: none;
  // }

  &:hover .menu-btn__menu,
  &:focus .menu-btn__menu,
  &:hover .menu-btn__close,
  &:focus .menu-btn__close {
    fill: var(--accent-color);
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

// .page-header__menu-wrap {
//   position: absolute;
//   left: 0;
//   top: 0;
//   width: 100vw;
//   height: 100vh;
//   z-index: 6;

//   background-color: grey;
//   padding: 0px 40px;
// }
