.page-header__container {
  position: relative;
  display: flex;
  align-items: center;
}

.page-header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  @media screen and (min-width: 768px) {
    justify-content: start;
  }
}

.page-header__logo {
  padding: 16px 0;
}

@media screen and (max-width: 767px) {
  .menu,
  .contacts {
    display: none;
  }
}

.menu-btn {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  display: flex;
  // justify-content: center;
  align-items: center;
  cursor: pointer;

  // &__close {
  //   display: none;
  // }

  padding: 10px;

  &:hover .menu-btn__menu,
  &:focus .menu-btn__menu,
  &:hover .menu-btn__close,
  &:focus .menu-btn__close {
    fill: var(--accent-color);
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu {
  @media screen and (min-width: 768px) {
    display: flex;
    margin-left: 88px;
  }
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}

.menu__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-size: 14px;
  font-weight: 500;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--title-text-color);

  transition: color var(--duration) var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  &--current {
    position: relative;
    color: var(--accent-color);
  }

  &--current::after {
    position: absolute;

    display: block;
    content: '';
    width: 100%;
    height: 4px;

    background-color: var(--accent-color);
    border-radius: 2px;
    bottom: -1px;
  }
}

.contacts {
  margin-left: auto;
  // display: flex;
}

.contacts__item:not(:last-child) {
  @media screen and (max-width: 1199px) {
    margin-bottom: 10px;
  }
  // margin-left: 50px;
}

.contacts__icon--email {
  @media screen and (max-width: 1199px) {
    width: 14px;
    height: 10px;
  }
}

.contacts__icon--phone {
  @media screen and (max-width: 1199px) {
    width: 10px;
    height: 14px;
  }
}

.contacts__link {
  display: flex;
  align-items: center;
  // padding-top: 32px;
  // padding-bottom: 32px;

  font-size: 12px;
  font-weight: 500;
  line-height: 1.167;
  letter-spacing: 0.02em;
  color: currentColor;

  transition: color var(--duration) var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}
