.logo {
  display: block;

  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo__studio--black {
  color: var(--black-text-color);
}

.logo__studio--white {
  color: var(--secondary-text-color);
}
