.section {
  padding: 60px 0;
}

.section--team {
  background-color: var(--secondary-bg-color);
}

.section--activities {
  padding-top: 0;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (max-width: 1199px) {
  .section--activities {
    display: none;
  }
}
